<template>
  <div class="main-wrapper ">
        <img src="health/img/logo.png" class="img img-fluid img-center">

        <h3>HEALTH DECLARATION FORM</h3>

        <p class="mt-4">In light of the COVID 19 situation and the surge in the number of confirmed cases around the world, we would like to assure that precautionary measures have been put in place to safeguard the well-being of our salespersons and clients. This information here is to also for contact tracing purposes if the need arises.</p>
        <form @submit.prevent="send">
        <div class="row form">
            <div class="col-md-3  mt-3">
                <p>Full Name:</p>
            </div>
            <div class="col-md-9  mt-3">
                <input required v-model="fullname" type="text" class="form-control">
            </div>

            <div class="col-md-3  mt-3">
                <p>Nationality:</p>
            </div>
            <div class="col-md-9  mt-3">
                <input required v-model="nationality" type="text" class="form-control">
            </div>

            <div class="col-md-3  mt-3">
                <p>Handphone No:</p>
            </div>
            <div class="col-md-9 mt-3">
                <input required maxlength="15" v-model="phone" type="text" class="form-control"
                onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))">
            </div>

            <div class="col-md-5  mt-3">
                <p>Date & Time of viewing/ meeting:</p>
            </div>
            <div class="col-md-7  mt-3">
                <date-picker v-model="date" id="date" name="date" :config=opt required></date-picker>
            </div>

        </div>
   
        <h4 class="mt-4 border-h">SECTION 1: Travel Declaration (Prior to 20th March 2020, 23:59)</h4>
        <p>Please declare accordingly:</p>
        <div class="d-flex w-100 align-items-start mb-4">
            <input v-model="have_not_travelled_to_china" type="checkbox">
            <p> I declare that <b>I HAVE NOT</b> travelled to <b>Mainland China</b> in the past 14 days.</p>
        </div>

        <div class="d-flex w-100 align-items-start mb-4">
            <input v-model="have_not_travelled_to_others" type="checkbox">
            <p> I declare that <b>I HAVE NOT</b> travelled to <b>Republic of Korea, France, Germany, Italy, Iran,
Spain, Japan, Switzerland and The United Kingdom</b> in the past 14 days.</p>
        </div>

        <div class="d-flex w-100 align-items-start mb-4">
            <input v-model="have_not_travelled_to_asian" type="checkbox">
            <p> I declare that <b>I HAVE NOT</b> travelled to <b>ASEAN Countries^</b> in the past 14 days.</p>
        </div>

        <h4 class="mt-4 border-h">SECTION 2: Travel Declaration (Effective from 20th March 2020, 23:59)</h4>
        <div class="d-flex w-100 align-items-start mb-4">
            <input v-model="no_issue_to_stay_home" type="checkbox">
            <p> I declare that <b>I AM NOT</b> issued with a 14-day Stay-Home Notice (SHN).</p>
        </div>

        <h4 class="mt-4 border-h">SECTION 3: General Health Declaration</h4>
        <div class="d-flex w-100 align-items-start mb-4">
            <input v-model="no_symptomps" type="checkbox">
            <p> I declare that <b>I AM WELL</b> and have no symptoms of fever, running nose and cough.</p>
        </div>

        <div class="d-flex w-100 align-items-start mb-4">
            <input v-model="dont_have_close_contact" type="checkbox">
            <p> I declare that <b>I DO NOT HAVE ANY CLOSE CONTACT</b> with persons (e.g. immediate family, housemates, relatives, friends) who have returned from Mainland China or the countries above <b>OR</b> had any contact with those who had COVID 19.</p>
        </div>

        <div class="signaturedate">
            <div class="row">
               
                <div class="col-md-6 sign-wrapper d-flex">
                    <p>Date</p>
                     <date-picker required v-model="signDate" id="signDate" name="signDate" :config=opts></date-picker>
                </div>

                <div class="col-12">
                  &nbsp;&nbsp;<button type="submit" class="smt-btn">I agree and submit above declaration</button>
                </div>
                
            </div>
            
        </div>
        <p class="mt-5">Does not apply to Singaporeans and Malaysians travelling into Singapore from Malaysia via sea or land </p>
        <p>Updated 19 March 2020</p>
        <p class="text-right">RCP-FM-19-01 19/03/20</p>
         </form>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                fullname:'',
                phone:'',
                nationality:'',
                have_not_travelled_to_china:false,
                have_not_travelled_to_others:false,
                have_not_travelled_to_asian:false,
                no_issue_to_stay_home:false,
                no_symptomps:false,
                dont_have_close_contact:false,
                agentId:'',

                signDate:new Date(),
                    opts:{
                        format: 'DD/MM/YYYY',
                        useCurrent: false,
                        showClear: true,
                        showClose: true,
                       
                    },
                date: new Date(),
                    opt:{
                        format: 'DD/MM/YYYY h:mm A',
                        useCurrent: false,
                        showClear: true,
                        showClose: true,
                       
                    }

            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        props:{
          agent: String,
       },
        created(){
            this.agentId = this.agent
            this.date='';
            this.signDate = '';
        },
        methods:{
            clearFields(){
                this.date = '',
                this.signDate = '',
                this.nationality = '',
                this.fullname = '',
                this.phone = '',
                this.have_not_travelled_to_china = false,
                this.have_not_travelled_to_others = false,
                this.have_not_travelled_to_asian = false,
                this.no_issue_to_stay_home = false,
                this.no_symptomps = false,
                this.dont_have_close_contact = false
            },
            send(){
                   let loader = this.$loading.show({
                            container: this.fullPage ? null : this.$refs.formContainer,
                            onCancel: this.onCancel,
                            color: '#c91010',
                            loader: 'bars',
                            width: 80,
                            height: 100,
                })
                axios.post('/submitForm',{
                    agent_name: this.fullname,
                    phone: this.phone,
                    nationality: this.nationality,
                    have_not_travelled_to_china: this.have_not_travelled_to_china,
                    have_not_travelled_to_others: this.have_not_travelled_to_others,
                    have_not_travelled_to_asian: this.have_not_travelled_to_asian,
                    no_issue_to_stay_home: this.no_issue_to_stay_home,
                    no_symptomps: this.no_symptomps,
                    dont_have_close_contact: this.dont_have_close_contact,
                    signDate: this.signDate,
                    date: this.date,
                    agent_id: this.agentId
                })
                    .then(()=>{
                         swal.fire({
                            title: 'Success!',
                            icon: 'success',
                            width: '500px'
                        });
                        this.clearFields()
                        loader.hide() 
                    })
            },
        }
    }
</script>

<style scoped>
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
</style>