.main-wrapper {
  max-width: 800px;
  margin: 20px auto;
  font-size: 18px;
  text-align: justify;
  border: 1px solid #f4f4f4;
  padding: 0px 35px;
}

.img-center {
  margin: 20px auto;
  display: block;
  max-width: 200px;
}

h3 {
  text-align: center;
  font-weight: bold;
}

.input-field {
  border: 0px;
  border: 1px solid #cacaca;
  width: 100%;
  border-radius: 4px;
  height: 40px;
  margin-top: -5px;
}

input:focus {
  outline: 0px;
}

h4 {
  font-weight: bold;
  font-size: 22px;
}

.align-items-center p {
  margin-bottom: 0px;
  margin-left: 15px;
}

.align-items-start p {
  margin-bottom: 0px;
  margin-left: 15px;
  width: calc(100% - 30px);
}

.align-items-start input {
  margin-top: 5px;
  width: 30px;
}

.signaturedate {
  width: 100%;
  float: left;
  margin-top: 50px;
  margin-bottom: 50px;
}

.signaturedate p {
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.image-upload input {
  opacity: 0;
  width: 100%;
  float: left;
  height: 50px;
}

.image-upload {
  width: 100%;
  float: left;
  height: 50px;
  border-bottom: 1px solid #333;
}

.date-input {
  width: 100%;
  float: left;
  height: 50px;
  border: 0px;
  border-bottom: 1px solid #333;
}

.border-h {
  border-top: 1px solid #cacaca;
  padding-top: 30px;
}
.smt-btn {
  max-width: 350px;
  width: 120%;
  float: center;
  background: #27aeee;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: white;
  margin-top: 40px;
  border: 0px;
}
@media(max-width:767px) {
  .row {
    margin: 0px;
  }

  .main-wrapper {
    padding: 0px 15px;
    margin: 0px;
    background: white;
  }

  body {
    padding: 15px;
    background: #f4f4f4;
  }

  .form {
    margin-top: -20px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .form p {
    margin-bottom: -5px;
    margin-top: 5px;
  }
  .signaturedate p {
    position: relative;
    top: 10px;
    margin-right: 10px;
    width: 120px;
}
}

@media print {
  .main-wrapper {
    padding: 0px;
    margin: 0px auto;
    border: 0px;
  }

  .input-field {
    border: 0px;
    border-bottom: 1px solid #cacaca;
    width: 100%;
    border-radius: 4px;
    height: 40px;
    margin-top: -5px;
  }
  .smt-btn  {
    display: none;
  }

  .border-h {
    border-top: 0px solid #cacaca;
    padding-top: 00px;
  }
}
