    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #fff !important;
    }
    .user_card {
        height: 400px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .brand_logo_container {
        position: absolute;
        text-align: center;
        height: 90px;
        width: 90px;
        top: -20%;
        
    }

    .brand_icon_container {
        position: absolute;
        text-align: center;
        height: 200px;
        width: 300px;
        top: 0;
    }
    .brand_logo {
        height: 90px;
        width: 90px;
    }
    .brand_icon {
        height: 170px;
        width: 270px;
    }
    .search-container{
        margin-top: 50%
    }
    
    .ok-btn {
        width: 100%;
        background: #00aeef !important;
        color: white !important;
        height: 5rem;
        border-radius: 0.5rem!important;
        font-size: 16px!important;
    }
    .instruction-btn {
        background: #00aeef !important;
        color: white !important;
        height: 5rem;
        border-radius: 0.5rem!important;
        font-size: 16px!important;
    }
    .ok-btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .btn_container {
        padding: 0 2rem;
        margin-left: 1.5rem;
        margin-right: 1.8rem;
    }
 
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
        height: 4.5rem!important;
        color: #a2a2a2!important;
        font-size: 16px!important;
        padding: 20px!important;
    }
 
    .search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        border-top-right-radius: 6px!important;
        border-bottom-right-radius: 6px!important;
        border-top-left-radius: 6px!important;
        border-bottom-left-radius: 6px!important;
    }

    .search-form .search-query::placeholder{
        color: #a2a2a2;
        font-size: 16px;
        font-weight: 400;
    }
 
    .search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -35px;

        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        z-index: 99;
        height: 4.5rem;
        color:#a2a2a2;
        font-size: 20px;
        
    }

    /*
    * BU DOMAIN STYLES
    */

    .buy-domain .content{
        text-align: center;
        font-size: 12px;
        font-weight: 500;
    }

    .buy-domain .content p{
        padding: 0 65px 0 65px;
    }
    .buy-domain .header{
        position: absolute;
        text-align: center;
        top: 10%;
    }
    .buy-domain .brand_icon_container {
        position: absolute;
        text-align: center;
        height: 120px;
        width: 220px;
        top: 13%;
    }

    .buy-domain .brand_icon{
        height: 120px;
        width: 220px;
    }

    .buy-domain .new-domain-container{
        margin-top: 70%
    }
    .buy-domain .existing-domain{
        text-decoration: none;
        font-size: 16px;
        color: #00aeef;
    }

    /*
     * success page
    */
    .success-page .brand_icon_container {
        position: absolute;
        text-align: center;
        height: 120px;
        width: 220px;
        top: 5%;
    }
    .success-page .brand_icon{
        height: 120px;
        width: 220px;
    }
    .success-page .note-container{
        /* margin-top: 25% */
        position: relative;
    }

    .success-page .content{
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        margin-top: 5%;
    }

    .success-page .content p{
        padding: 0 120px 0 120px;
        font-weight: 400;
        font-size: 16px;
    }

    .success-page .content span{
        font-size: 16px;
        color: #00aeef;
        font-weight: 400;
    }

    .success-page .add_container {
        position: absolute;
        text-align: center;
        /* height: 120px; */
        width: 310px;
        /* top: 30%; */
        margin-top: 35%!important;
    }
    .success-page .add_icon{
        /* height: 120px; */
        width: 310px;
    }

    .success-page .btn_container{
        position: inherit;
        top: 125%;
    }

    .success-page .btn-proceed{
        margin-bottom: 20px;
    }
