<template>
    <div class="card text-center">
        <div class="card-header">
            Domain List
          
        </div>
        <div class="card-body">
            <table id="myTable" class="table table-bordered table-hover">
                  <thead>
                     <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">Schedule</th>
                        <th scope="col">Status</th>
                        <th scope="col">Tries</th>
                        <th scope="col">Actions</th>
                     </tr>
                  </thead>
                  <tbody>
                      <tr v-for="domain in domains" :key="domain.id">
                          <td>{{domain.domain}}</td>
                          <td>{{domain.schedule | moment("ddd, MMMM DD, YYYY, h:mm:ss A")}}</td>
                          <td v-if="domain.isRegistered == 0"><span class="badge badge-info">Waiting for Schedule</span></td>
                          <td v-else-if="domain.isRegistered == 1"><span class="badge badge-success">Registered</span></td>
                          <td v-else><span class="badge badge-danger">Aborted</span></td>
                          <td>{{domain.tries}}</td>
                          <td>
                              <button @click="editModal(domain)" class="btn btn-warning">Update</button>
                              <button @click="deleteDomain(domain.id)" class="btn btn-danger">Remove</button>
                              
                          </td>
                      </tr>
                  </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">Add Domain</button>
        </div>
        <!-- Modal  -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="this.editmode == false" class="modal-title" id="exampleModalLabel">Add Domain</h5>
                    <h5 v-else class="modal-title" id="exampleModalLabel">Update Domain</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent = "editmode ?  editDomain() : addDomain() ">
                <div class="modal-body">
                    <div class="form-group">
                            <label style="float: left;">Domain</label>
                            <input
                            v-model="form.domain"
                            id="domain"
                            type="text"
                            name="domain"
                            placeholder="Domain"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('domain') }"
                            />
                        <has-error :form="form" field="domain"></has-error>
                    </div>
                    <div class="form-group">
                            <label style="float:left;">Schedule</label>
                           <date-picker v-model="form.schedule" id="date" name="date" :config=opt></date-picker>
                    </div>
                    <div class="form-group">
                         <label style="float:left;">Tries</label>
                            <input
                            v-model="form.tries"
                            type="text"
                            name="tries"
                            placeholder="Tries"
                            class="form-control"
                            :class="{ 'is-invalid': form.errors.has('tries') }"
                            />
                        <has-error :form="form" field="tries"></has-error>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button submit="button" class="btn btn-primary">Save</button>
                </div>
                </form>
                </div>
                
            </div>
            </div>
        <!-- Modal  -->
    </div>
</template>

<script>
import datatables from 'datatables'
    export default {
        data(){
            return{
                domains:[],
                editmode: false,
                form: new Form({
                    id:'',
                    domain:'',
                    schedule:'',
                    tries:'',

                }),

                date: new Date(),
                    opt:{
                        format: 'YYYY-MM-DD HH:mm:ss',
                        showClear: true,
                        showClose: true,
                    }
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
            getDomains(){
                axios.get('/queryDomains')
                    .then((res)=>{
                        this.domains = res.data
                        this.dataTable()
                        // console.log(res)
                    }).catch((err)=>{
                        console.log(err)
                    })
            },
             dataTable(){
               $(document).ready( function () {
                     $('#myTable').DataTable();
                  });
            },
            addDomain(){
                this.form.post('/addDomain')
                    .then((data)=>{
                        swal.fire({
                            title: 'Created',
                            text: data.data,
                            icon: 'success',
                            width: '500px'
                        });
                        // console.log(data.data)
                        $('#exampleModal').modal('hide');
                        $(".modal-backdrop").remove();
                        this.getDomains()
                    })
            },
            newModal(){
                this.editmode = false
                this.form.reset()
                $('#exampleModal').modal('show')
            },
            editModal(domain){
                this.editmode = true
                this.form.reset()
                $('#exampleModal').modal('show')
                this.form.fill(domain)
            },
            editDomain(){
                this.form.put('/editDomain/'+ this.form.id)
                    .then((data)=>{
                        swal.fire("Updated!", "", "success");
                        $('#exampleModal').modal('hide');
                        $(".modal-backdrop").remove();
                        this.getDomains()
                    }).catch((e)=>{
                        console.log(e)
                    })
            },
            deleteDomain(id){
                swal.fire({
                    title: "Are you sure?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Delete!"
                }).then(result =>{
                    if(result.value){
                        this.form.delete('deleteDomain/' + id)
                            .then(()=>{
                                this.getDomains()
                                 swal.fire({
                                    title: 'Deleted!',
                                    icon: 'success',
                                    width: '500px'
                                });
                            })
                    }
                })
            },
          
        },
        created(){
            this.getDomains()
        }
    }
</script>
